body{
  padding: 0 50px;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
} 

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* Componente NavBar */

.logo-movie{
  font-size: 20px;
  cursor: pointer;
}

/* Componente MovieBannerHome */

.poster {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  max-height: 720px;
  height: 90vh;
  position: relative;
  overflow: hidden;
  align-items: flex-start;
  box-shadow: 0 0 8px 8px black inset;
}

.poster-data .buttons_banner{
  display: flex;
  gap: 20px;
  margin-top: -15px !important;
}

.poster img{
  width: 60%;
  margin-top: 20px;
}

.poster:before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
}

.poster-data {
  width: 100%;
  padding: 1rem;
  height: 100%;
  padding-left: 52px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  z-index: 10;
}


.poster-data .text_banner{
  width: 40%;
}

/* .poster-data .buttons_banner button{
  background: linear-gradient(to right, #6569b1, #3d4198);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 15%;
  height: 40px;
  box-shadow: 4px 6px 30px -7px rgba(0,0,0,0.75);
}

.poster-data .buttons_banner button:hover{
  background: linear-gradient(to right, #4f5397, #2c2f6e);
} */

.poster-data .buttons_banner .button2{
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

.poster-data .buttons_banner .button2:hover{
  background: linear-gradient(to right, #0f2027, #1c333a, #23424f);
}

/* Play Button */

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-53 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #050505;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}

.btn-53:disabled {
  cursor: default;
}

.btn-53:-moz-focusring {
  outline: auto;
}

.btn-53 svg {
  display: block;
  vertical-align: middle;
}

.btn-53 [hidden] {
  display: none;
}

.btn-53 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 0.5rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-53 .original {
  background: #fff;
  color: #0058bd;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-53:hover .original {
  transform: translateY(100%);
}

.btn-53 .letters {
  display: inline-flex;
}

.btn-53 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-53 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-53:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-53:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-53:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-53:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-53:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

/* DetailButton */

#detailButton {
  position: relative;
  display: grid;
  inset: 0;
  padding: 0.5rem 3rem;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #0077ff;
  font-weight: bold;
  background:transparent;
  place-content: center;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #0058bd;
  border-radius: 999px;
  box-shadow: inset 0 0 0 0 #0058bd;
}

#detailButton:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #0058bd;
}

#detailButton:active {
  transform: scale(0.9);
}

/* Estilos de la página que muestra el detalle de las películas */

/* Componente movies/[id] */

.movie-detail {
  width: 100%;
  height: 90vh;
  max-height: 720px;
  position: relative;
}

.movie-detail::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: radial-gradient(circle at 50% 5%, rgba(255, 255, 255, 0), black 70%);
}

/* Componente MovieDetailInfo */

.genresMovie{
  margin-right: 20px;
  border: 1px solid #274494;
  padding: 10px;
  border-radius: 10px;
  cursor: default;
}

/* Component MovieOptions */

.icons-options{
  margin-right: 5px;
}

/* Componente MovieCard */

.card-item{
  max-width: 90%;
}

/* Componente MovieCast */

.containerCast{
  margin-top: 10px;
}

.Cast-movie{
  height: 100%;
  max-height: 400px;
  padding-left: 10px;
  overflow: scroll;
}

.Cast-movie::-webkit-scrollbar{
  width: 7px;
}

.Cast-movie::-webkit-scrollbar-thumb{
  background-color: rgb(102, 102, 102);
  border-radius: 5px;
}

.position {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0.25rem 0.75rem 0.25rem 0.75rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: #00000066;
  backdrop-filter: saturate(180%) blur(10px);
  gap: 0.25rem;
}

.container-cardUser{
  overflow: scroll;
}

.container-cardUser::-webkit-scrollbar{
  width: 0px;
  padding-top: 22px;
  height: 5px;
}

.container-cardUser::-webkit-scrollbar-thumb{
  background-color: rgb(102, 102, 102);
  border-radius: 5px;
}


/* CSS RECOMMENDATIONS */

.container-list{
  width: 100%;
  display: Grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.container-list .card-item{
  margin-top: 20px;
}


/* Componente 404 */

.container-pageNotFound{
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}


/* Componente Footer */

footer{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


/* Seccion de Responsive */


@media screen and (max-width: 950px){

  main{
    overflow: hidden;
  }

  /* Componente search ([query]) */

  .container-list{
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Componente MovieBannerHome */

  .poster-data .buttons_banner button{
    font-size: 12px;
    height: 35px;
  }

  .poster-data .text_banner{
      width: 70%;
  }


}

@media screen and (max-width: 800px){

   /* Componente search ([query]) */

   .container-list{
    grid-template-columns: 1fr 1fr;
  }

  /* Componente MovieBannerHome */

  .poster-data .text_banner h5{
      font-size: 13px;
  }

  .poster-data .buttons_banner button{
    font-size: 10px;
    height: 30px;
  }

  .poster-data h2{
    font-size: 37px;
}

/* Componente de SlideMovies */

.titleSlides{
  font-size: 35px;
}
  
}

@media screen and (max-width: 640px){

  body{
    padding: 0 20px;
  }

  /* DetailButton */

  #detailButton{
    font-size: 12px;
  }

  /* Componente recommendations */

  .text-recommendations{
    display: flex;
    justify-content: center;
  }

   /* Componente search ([query]) */

   .title-result{
    display: flex;
    justify-content: center;
    font-size: 20px;
   }

   .container-list{
    grid-template-columns: 1fr;
  }

  /* Componente MovieBannerHome */

  .poster{
    height: 60vh;
  }

  .poster-data h2{
    font-size: 45px;
  }

  .poster-data .text_banner h5{
    font-size: 10px;
  }

  .poster-data .buttons_banner button{
    width: 25%;
    font-size: 10px;
    height: 25px;
  }

  .poster-data .text_banner{
      width: 90%;
  }

  /* Componente MovieCard */

  .card-item{
    width: 70%;
    margin: 0 auto;
  }

  /* Componente de SlideMovies */

  .titleSlides{
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  /* Componente Footer */

  footer h5{
    font-size: 13px;
  }
    
}

@media screen and (max-width: 500px){

   /* Componente recommendations */

  .text-recommendations{
   font-size: 25px;
  }

  /* Componentet MovieDetailInfo */
  
  .title-detailInfo{
    font-size: 35px;
  }

   /* Componente search ([query]) */

   .title-result{
    font-size: 15px;
   }

  /* Componente MovieBannerHome */

  .poster{
    height: 50vh;
  }

  .poster-data{
    padding-left: 30px;
  }

  .poster-data .text_banner{
      width: 90%;
  }

  .poster-data .buttons_banner button{
    font-size: 10px;
  }

  .poster-data h2{
    font-size: 35px;
}

  .poster-data .text_banner h5{
    font-size: 8px;
}

 /* Componente MovieCard */

 .card-item{
  height: 300px;
}

/* Componente de SlideMovies */

.titleSlides{
  font-size: 25px;
}

/* Componente Footer */

footer h5{
  font-size: 10px;
}
  
}